Camera_Face_Recognition_Flow.json
[{"id":"1043ab23.d724c5","type":"tab","label":"Camera Face Recognition","disabled":false,"info":""},{"id":"1ee4316a.a3d9ef","type":"image","z":"1043ab23.d724c5","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":800,"y":240,"wires":[]},{"id":"a2696aad.b297b8","type":"image","z":"1043ab23.d724c5","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":130,"y":240,"wires":[]},{"id":"15faf19e.8ac70e","type":"change","z":"1043ab23.d724c5","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["1ee4316a.a3d9ef"]]},{"id":"48bf6b67.7ed2ec","type":"debug","z":"1043ab23.d724c5","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":140,"wires":[]},{"id":"28b76707.0e8718","type":"base64","z":"1043ab23.d724c5","name":"","action":"","property":"payload","x":120,"y":200,"wires":[["a2696aad.b297b8"]]},{"id":"782d9f81.d70da8","type":"face-api-input","z":"1043ab23.d724c5","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":450,"y":140,"wires":[["48bf6b67.7ed2ec","15faf19e.8ac70e","af2a928b.bfd3d"]]},{"id":"e131ad92.6ae888","type":"camera","z":"1043ab23.d724c5","name":"","x":270,"y":140,"wires":[["782d9f81.d70da8","28b76707.0e8718"]]},{"id":"af2a928b.bfd3d","type":"function","z":"1043ab23.d724c5","name":"getExpression","func":"\n//create copy of message\nvar fullMsg = msg;\n\n//retrieve all faces detected from message payload\nvar allFacesDetected = fullMsg.payload[\"TBB Faces\"].faces;\n\n//build expressions array\nvar expressionsDetected = {\"expressions\": []};\n\n//fill expressions array for all detected expressions (if any faces are detected)\nif (allFacesDetected.length > 0)\n{\n    for (i = 0; i < allFacesDetected.length; i++)\n    {\n        expressionsDetected.expressions.push(allFacesDetected[i].expressionLabel);\n    }\n}\n\n//set message payload (now will be the expressions array object)\nmsg.payload = expressionsDetected;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["e5d4a3c3.f9e838"]]},{"id":"e5d4a3c3.f9e838","type":"debug","z":"1043ab23.d724c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":40,"wires":[]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]