Saved_File_Face_Recognition_Flow.json
[{"id":"9aa14c9.5c9763","type":"tab","label":"Saved File Face Recognition","disabled":false,"info":""},{"id":"fbbd60cb.8c8da","type":"inject","z":"9aa14c9.5c9763","name":"Input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["ef661e0d.c3acd8"]]},{"id":"c4886e90.b52c48","type":"image","z":"9aa14c9.5c9763","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":940,"y":320,"wires":[]},{"id":"6ab713f5.0675bc","type":"image","z":"9aa14c9.5c9763","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":270,"y":300,"wires":[]},{"id":"6d3046c2.62eaf","type":"change","z":"9aa14c9.5c9763","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["c4886e90.b52c48"]]},{"id":"5e302cb.eea50d4","type":"debug","z":"9aa14c9.5c9763","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":200,"wires":[]},{"id":"8ca50fc4.cab5","type":"base64","z":"9aa14c9.5c9763","name":"","action":"","property":"payload","x":260,"y":260,"wires":[["6ab713f5.0675bc"]]},{"id":"6f7226a3.103f78","type":"face-api-input","z":"9aa14c9.5c9763","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":590,"y":200,"wires":[["5e302cb.eea50d4","6d3046c2.62eaf","38cfe18.ff2b49e"]]},{"id":"38cfe18.ff2b49e","type":"function","z":"9aa14c9.5c9763","name":"getExpression","func":"\n//create copy of message\nvar fullMsg = msg;\n\n//retrieve all faces detected from message payload\nvar allFacesDetected = fullMsg.payload[\"TBB Faces\"].faces;\n\n//build expressions array\nvar expressionsDetected = {\"expressions\": []};\n\n//fill expressions array for all detected expressions (if any faces are detected)\nif (allFacesDetected.length > 0)\n{\n    for (i = 0; i < allFacesDetected.length; i++)\n    {\n        expressionsDetected.expressions.push(allFacesDetected[i].expressionLabel);\n    }\n}\n\n//msg.payload = expressionsDetected;\n\n//retrieve labelled image from face-rec message payload\nvar labelled_image = fullMsg.payload[\"TBB Faces\"].image;\n\n//convert labelled image to base64 format to send in JSON (and later display correctly in webpage)\nvar img_buffer = new Buffer.from(labelled_image).toString(\"base64\");\nlabelled_image = img_buffer;\n\n//add image and expressions to payload\nvar newPayload = { \"labelled_image\" : labelled_image,\n    \"expressions\": expressionsDetected.expressions\n};\n\n//set message payload\nmsg.payload = newPayload;\n\n//set the message http req and res (so that response object can be returned)\nmsg.req = flow.get(\"http_req\"); //stored earlier from HTTP-in as flow variable\nmsg.res = flow.get(\"http_res\"); //stored earlier from HTTP-in as flow variable\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":100,"wires":[["b43e7c41.692498","4c38aadb.b90b94","f472bd6e.0119c8"]]},{"id":"b43e7c41.692498","type":"debug","z":"9aa14c9.5c9763","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.expressions","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":100,"wires":[]},{"id":"ef661e0d.c3acd8","type":"file in","z":"9aa14c9.5c9763","name":"(Local) File In","filename":"C:\\Users\\maria\\Pictures\\friends-cast-image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":340,"y":180,"wires":[["8ca50fc4.cab5","6f7226a3.103f78"]]},{"id":"4c38aadb.b90b94","type":"template","z":"9aa14c9.5c9763","name":"Make JSON - Expressions","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"expressions\" : \"{{payload.expressions}}\",\n    \"image\" : \"{{payload.labelled_image}}\"\n}","output":"str","x":990,"y":40,"wires":[["31832934.4e7776","44c5b410.9422d4"]]},{"id":"31832934.4e7776","type":"http response","z":"9aa14c9.5c9763","name":"HTTP Response","statusCode":"200","headers":{},"x":1240,"y":40,"wires":[]},{"id":"885b3aa9.c057e","type":"http in","z":"9aa14c9.5c9763","name":"HTTP In - Labelled Expressions Endpoint","url":"/labelled_expressions","method":"get","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["ef661e0d.c3acd8","a8c4c9b4.5c83b8","e595bf3d.f92a08"]]},{"id":"a8c4c9b4.5c83b8","type":"debug","z":"9aa14c9.5c9763","name":"Full HTTP In Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"f472bd6e.0119c8","type":"debug","z":"9aa14c9.5c9763","name":"Full Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":140,"wires":[]},{"id":"e595bf3d.f92a08","type":"function","z":"9aa14c9.5c9763","name":"saveReqResToFlow","func":"//store the http request and response to be able to access them \n//later for building final response message \n//(since Face-Rec overwrites the starting message)\n\nflow.set(\"http_req\", msg.req)\nflow.set(\"http_res\", msg.res)\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[[]]},{"id":"44c5b410.9422d4","type":"debug","z":"9aa14c9.5c9763","name":"JSON MSG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":140,"wires":[]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]